@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    text-align: center;
    padding: 10px;
}

menu > ul {
    list-style-type: none;
}

menu {
    display: none;
}

menu a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(110, 110, 110);
    color: white;
    border-top: 2px solid gray;
}

menu a:hover {
    background-color: rgb(156, 156, 156);
}

main {
    padding: 10px;
    margin: auto;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    width: 90vw;
}

article > h2 {
    padding-bottom: 20px
}

article > p {
    text-align: justify;
    padding-bottom: 20px;
    text-indent: 20px;
}

#burguer {
    color: white;
    display: block;
    background-color: rgb(61, 61, 61);
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#burguer:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.637);
}