@charset "UTF-8";

/* geral */
                * {
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        html, body {
            width: 100vw;
            height: 100vh;
            background-color: #233eff;
            background-repeat: no-repeat;
            background-size: contain;
        }

        h1 {
            color: white;
            text-shadow: 2px 2px 0px #101b74;
            padding: 10px;
        }
        /* retrato */
        @media screen and (orientation: portrait) {
                    body {
            background-image: url(../imagens/cev-portrait.jpg);
        }
        }
        /* paisagem */
       @media screen and (orientation: landscape) {
            body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
       } 